<div *ngIf="animal">
    <h2>{{animal.name | uppercase}} DETAILS</h2>
    <div>
        <span>Name: </span>
        <input required [(ngModel)]="animal.name" #name="ngModel">
    </div>
    <div>
        <span>Age: {{animal.age}}</span><br>
        <span>Description: {{animal.description}}</span><br>
        <span>Category: {{animal.category}}</span><br>
    </div>
    <div>
        <button (click)='deleteAnimal()'>Delete poor animal</button>
        <button (click)="goBack()">Back</button>
        <button [disabled]="!name.valid" (click)="updateAnimal()">Save</button>
    </div>
</div>